.changePassword
    .changePassword__action-bar
        | !{buttonBack}
    .changePassword__content
        form#changePassword__form.changePassword__form
            .changePassword__account-logo
                img(src=account, alt="account")
            .changePassword__info
                .changePassword__info__item
                    .changePassword__info__item__label Старый пароль
                    .changePassword__info__item__value
                        | !{inputPassword}
                        | !{errorMessagePassword}
                .changePassword__info__item
                    .changePassword__info__item__label Новый пароль
                    .changePassword__info__item__value
                        | !{inputNewPassword}
                        | !{errorMessageNewPassword}
                .changePassword__info__item
                    .changePassword__info__item__label Повторите новый пароль
                    .changePassword__info__item__value
                        | !{inputNewPasswordElse}
                        | !{errorMessageNewPasswordElse}
                .changePassword__info__error
                    | !{errorMessage}
            .changePassword__actions
                .changePassword__actions__wrap
                    | !{buttonSave}
