.changeProfile
    .changeProfile__actionBar
        | !{buttonBack}
    .changeProfile__content
        form#changeProfile__form.changeProfile__form
            .changeProfile__account-logo
                img(src=account, alt="account")
            .changeProfile__info
                .changeProfile__info__item
                    .changeProfile__info__item__label Почта
                    .changeProfile__info__item__value
                        | !{inputPost}
                .changeProfile__info__item
                    .changeProfile__info__item__label Логин
                    .changeProfile__info__item__value
                        | !{inputLogin}
                .changeProfile__info__item
                    .changeProfile__info__item__label Имя
                    .changeProfile__info__item__value
                        | !{inputFirstName}
                .changeProfile__info__item
                    .changeProfile__info__item__label Фамилия
                    .changeProfile__info__item__value
                        | !{inputSecondName}
                .changeProfile__info__item
                    .changeProfile__info__item__label Телефон
                    .changeProfile__info__item__value
                        | !{inputPhone}
            .changeProfile__actions
                .changeProfile__actions__wrap
                    | !{buttonSave}
