- const title_enter = "Вход"
- const button_enter = "Войти"
- const button_not_registered = "Еще не зарегестрированы?"
- const placeholder_login = "Логин"
- const placeholder_password = "Пароль"

section.authorization
    .authorization__wrap
        h1.authorization__title= title_enter
        .authorization__input-wrap
            input(
                type="text"
                name='login'
                placeholder= placeholder_login
            ).authorization__input--text
            input(
                type="password"
                name='password'
                placeholder= placeholder_password
            ).authorization__input--password
        button.authorization__button--enter= button_enter
        a.authorization__notRegistered(href='#')= button_not_registered
style
    include ../../../reset.scss

script(type='module' src='authorization.js')

