- const titleEnter = "Вход"
- const buttonEnter = "Войти"
- const buttonNotRegistered = "Еще не зарегестрированы?"
- const placeholderLogin = "Логин"
- const placeholderPassword = "Пароль"

section.section-authorization
    .section-authorization__main
        h1.section-authorization__title= titleEnter
        .authorization__input-wrap
            input(
                type="text"
                name='agreement'
                placeholder= placeholderLogin
            ).section-authorization__input--text
            input(
                type="password"
                name='password'
                placeholder= placeholderPassword
            ).section-authorization__input--password
        button.section-authorization__button--enter= buttonEnter
        a.section-authorization__notRegistered(href='#')= buttonNotRegistered


script(type='module' src='authorization.js')

