.chat
    .chat__sideBar
        .chat__sideBar__wrap
            .chat__action
                | !{buttonProfile}
            .chat__search
                | !{search}
        .chat__userList
            each user in userList
                | !{user}
    .chat__main
        .chat__main__header
            .chat__main__header__label
                .chat__main__header__logo
                    img(src= logo)
                .chat__main__header__name= first_name
            .chat__main__header__actions
                | !{topDropdownButton}


        .chat__main__messageList Я тут

        .chat__main__actions
            | !{bottonDropdownButton}
            | !{messageInput}
            | !{messageButton}



