.profile
    .profile__action-bar
        | !{buttonBack}
    .profile__content
        .profile__wrap
            .profile__account-logo
                img(src=logo, alt="account")
            .profile__name= profileName
            .profile__info
              each item in userInfoList
                  .profile__info__item
                      .profile__info__item__label=item.label
                      .profile__info__item__value=item.value
            .profile__actions
                .profile__actions__wrap
                    | !{buttonSettings}
                .profile__actions__wrap
                    | !{buttonPass}
                .profile__actions__wrap
                    | !{buttonExit}

