section.registration
    .registration__main
        h1.registration__title= title
        form#registration__form.registration__form
            | !{inputPost}
            | !{errorMessagePost}
            | !{inputLogin}
            | !{errorMessageLogin}
            | !{inputFirstName}
            | !{errorMessageFirstName}
            | !{inputSecondName}
            | !{errorMessageSecondName}
            | !{inputPhone}
            | !{errorMessagePhone}
            | !{inputPassword}
            | !{errorMessagePassword}
            | !{inputPasswordElse}
            | !{errorMessagePasswordElse}
        .registration__actions
        | !{buttonRegistration}
        .registration__button-wrap
        | !{buttonEnter}

